$border-find: 1px solid #40C1FF;
.header {
    height-max: 100px;
    // color: hsl(64, 100%, 52%);
    height: 7vh;
    background-color: rgb(0, 174, 255);
    display: flex;
    align-items: center;
    .inputPanel {
        font-size: 1vw;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        input {
            height: 3.5vh;
            // width: 80%;
            width: 99%;
            // border: 1px solid rgb(3, 255, 255);
            background-color: white;
            // background-clip: padding-box;
            border: $border-find;
            border-radius: 0.3rem;
            &:focus {
                border-radius: 0%;
                border-bottom: $border-find;
                outline: none;
                // background-color: red;
            }
        }
    }
}

.findBox {
    color: black;
    position: absolute;
    background-color: white;
    text-align: left;
    border: $border-find;
    width: 25%;
    left: 37.5%;
    top: 5.5%;
    z-index: 100;
    .searchElem {
        padding: 1rem;
        // border-top: 1px solid silver;
        &:hover {
            background-color: #40C1FF;
            opacity: .6;
        }
    }
}

// media
@media (max-width: 900px) {
    .header {
        .inputPanel {
            width: 50%
        }
    }
    .findBox {
        width: 50%;
        left: 25%;
    }
}